useDynLib(gemtc)

import(rJava)
import(grid)
importFrom(igraph, graph, graph.empty, V, E, get.edge, edges, vertex, are.connected, get.shortest.paths)

S3method(forest, mtc.result)

export(
	read.mtc.network, write.mtc.network, mtc.network,
	print.mtc.network, plot.mtc.network, summary.mtc.network,
	mtc.model,
	print.mtc.model, plot.mtc.model, summary.mtc.model,
	mtc.run,
	print.mtc.result, plot.mtc.result, summary.mtc.result, 
	forest, forest.mtc.result,
	as.mcmc.list.mtc.result, read.mtc.result.samples,
	relative.effect, rank.probability)
