useDynLib(gemtc)
import(grid)
import(coda)
import(igraph) # Get rid of this
importFrom(meta, forest)

S3method(print, mtc.network)
S3method(summary, mtc.network)
S3method(plot, mtc.network)

S3method(print, mtc.model)
S3method(summary, mtc.model)
S3method(plot, mtc.model)

S3method(print, mtc.result)
S3method(summary, mtc.result)
S3method(plot, mtc.result)
S3method(as.mcmc.list, mtc.result)
S3method(forest, mtc.result)

export(
	read.mtc.network, write.mtc.network, mtc.network,
	mtc.model,
	mtc.run,
	relative.effect, rank.probability,
	blobbogram, forest)
